{% extends "base.html" %}
{% load static %}

{% block title %}
  Cooks
{% endblock %}

{% block css_files %}
  {% comment %} <link rel="stylesheet" href="{% static "kitchen/cook_preview.css" %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static "kitchen/all_cooks.css" %}">
  <link rel="stylesheet" href="{% static "kitchen/pagination.css" %}">
{% endblock %}

{% block content %}
  <section id="all-cooks">
    <div class="header">
      <h2>Cooks</h2>
      <a href="{% url "kitchen:cook-create" %}?page={{ request.GET.page }}" class="btn-create">
        Create
      </a>
    </div>
    <div class="cook-cards">
      {% for cook in cooks %}
        <a href="{{ cook.get_absolute_url }}" class="cook-card">
          {% include "kitchen/includes/cook_preview.html" %}
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block pagination %}
  {% include "kitchen/includes/pagination.html" %}
{% endblock pagination %}
