{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ dish.name }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "kitchen/dish_detail.css" %}">
{% endblock %}

{% block content %}
  <section id="container">
    <div class="dish-details">
      <h1>{{ dish.name }}</h1>
      {% if dish.image %}
        <article>
          <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
        </article>
      {% endif %}
      <p>{{ dish.description }}</p>
      <p><strong>Price:</strong> ${{ dish.price }}</p>
      <p><strong>Type:</strong> {{ dish.dish_type.name }}</p>
      <p><strong>Cooks:</strong>
        {% for cook in dish.cooks.all %}
          {{ cook.full_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      <h3>Ingredients:</h3>
      <ul>
        {% for ingredient in dish.ingredients.all %}
          <li>
            {{ ingredient.name }}{% if not forloop.last %}, {% endif %}
          </li>
          {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
