{% extends "base.html" %}
{% load static %}

{% block title %}
	Kitchen Management System
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
	<section>
    <header>
      <h2>Welcome to Dennie's Restaurant Kitchen Management System!</h2>
    </head>
  </section>

  <section>
    <h2>Our Cooks</h2>
    {% for cook in cooks %}
      <ul>
        <li><img src="{{ cook.profile_picture.url }}" alt=""></li>
      </ul>
    {% endfor %}
  </section>

  <section>
    <h2>What We Do</h2>
    <p>Our goal is to make complex things trivial.</p>
    <p>We cook with fun and manage with ease.</p>
  </section>

{% endblock %}
