{% extends "base.html" %}

{% block title %}
	Kitchen Management System
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
	<section>
    <header>
      <h2>Welcome to Dennie's Restaurant Kitchen Management System!</h2>
    </head>
  </section>

  <section>
    <h2>Our latest dishes</h2>
    <ul>
      <li>Dish picture and details</li>
      <li>Dish picture and details</li>
      <li>Dish picture and details</li>
    </ul>
  </section>

  <section>
    <h2>What We Do</h2>
    <p>Our goal is to make complex things trivial.</p>
    <p>We cook with fun and manage the process with ease.</p>
  </section>

{% endblock %}
