#summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem auto 1rem auto;
  padding: 2rem;
  width: 70%;
  max-width: 90rem;
  border-radius: 16px;
  background-color: #5706c0;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.cook-details {
  color: white;
  flex: 1;
}

.cook-details h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cook-details p,
.cook-details address {
  margin: 0.5rem 0;
  color: white;
  text-decoration: none;
  font-style: normal;
}

.cook-details address a {
  text-decoration: none;
  color: white;
}

.actions {
  margin-top: 1rem;
}

.actions .btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  /* margin-right: 10px; */
}

.actions .btn:hover {
  background-color: #45a049;
}

.actions .btn-delete {
  background-color: #d9534f;
}

.actions .btn-delete:hover {
  background-color: #c9302c;
}

#summary article {
  flex-shrink: 0;
  padding: 0;
  text-align: right;
}

#summary article img {
  width: 15rem;
  height: auto;
  border-radius: 12px;
  border: 5px solid white;
  margin-bottom: 1rem;
}

main {
  width: 70%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#dishes {
  margin-top: 2rem;
}

#dishes h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#dishes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#dishes li {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.dish {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.dish img {
  width: 100%;
  height: auto;
}

.dish__content {
  padding: 1rem;
}

.dish__content h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dish__content p {
  margin: 0.5rem 0;
}
