#summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem auto 1rem auto;
  padding: 2rem;
  width: 70%;
  max-width: 90rem;
  border-radius: 16px;
  background-color: #0C97AC;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.cook-details {
  color: white;
  flex: 1;
}

.cook-details h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cook-details p,
.cook-details address {
  margin: 0.5rem 0;
  color: white;
  text-decoration: none;
  font-style: normal;
}

.cook-details address a {
  text-decoration: none;
  color: white;
}

.actions {
  display: flex;
  justify-content: space-between ;
}

.actions .btn {
  background-color: #0C97AC;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border: solid 2.5px white;
  border-radius: 5px;
  width: 48%;
}

.actions .btn:hover {
  background-color: #087889;
}

.actions .btn-delete {
  background-color: #d9534f;
}

.actions .btn-delete:hover {
  background-color: #c9302c;
}

#summary article {
  flex-shrink: 0;
  padding: 0;
  text-align: right;
}

#summary article img {
  width: 15rem;
  height: auto;
  border-radius: 12px;
  border: 5px solid white;
  margin-bottom: 1rem;
}

#all-dishes {
  margin: 2rem auto;
  width: 70%;
}

#all-dishes h2 {
  font-size: 2rem;
  color: #2e2e2e;
}

.dish-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.dish-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: #f5f3ec;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.dish-card:hover,
.dish-card:active {
  transform: scale(1.05);
  background-color: #0C97AC;
  color: white;
}

.dish-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8%;
  margin-bottom: 1rem;
}

.dish-card h3 {
  margin: 0.5rem 0;
}

#no-dishes {
  font-style: italic;
  font-size: 2rem;
}
