#ingredient-form-section {
  width: 100%;
  max-width: 600px;
  margin: 10rem auto;
  padding: 2rem;
  background-color: #f5f3ec;
  border-radius: 8px;
  border: 5px solid #0c97ac;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#ingredient-form-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.ingredient-form {
  display: flex;
  flex-direction: column;
}

.ingredient-form .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.ingredient-form .btn,
.ingredient-form .btn-cancel {
  padding: 0.5rem 1rem;
  width: 48%;
  background-color: #0c97ac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: medium;
}

.ingredient-form .btn:hover {
  background-color: #087889;
}

.ingredient-form .btn-cancel {
  background-color: #999;
}

.ingredient-form .btn-cancel:hover {
  background-color: #797777;
}
