<li>
  <article class="dish">
    <a href="{{ dish.get_absolute_url }}">
      <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
      <div>
        <h3>{{ dish.name }}</h3>
        <p><strong>Ingredients:</strong>
          {% for dish_ingredient in dish.dishingredient_set.all %}
            {{ dish_ingredient.ingredient.name }}: {{ dish_ingredient.quantity }} {{ dish_ingredient.unit }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>  
        <p><strong>Price:</strong> {{ dish.price }}</p>
      </div>
    </a>
  </article>
</li>
